li.nav-item.active
        a.nav-link(href='/addCategory') Add Category
li.nav-item.active
        a.nav-link(href='/categories') Categories
li.nav-item.active
        a.nav-link(href='/admin/reports') Reports